# Python
__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/
*.log
*.sqlite3

download_files/
# Built executables
dist/
build/
*.exe
*.spec

config.json
# Environment variables
.env
.env.*
config.ini # 如果你把配置放在這裡